$error-color: #ff2c56;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.content {
  height: 100%;
  gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatarChangeButton {
  display: flex;
  position: absolute;
  width: 35px;
  height: 35px;
  right: 0;
  bottom: 0;
  background: #2F163E;
  border: none;
  outline: 4px solid #E7A3FF;
  border-radius: 1300px;
  align-items: center;
  justify-content: center;
}

.avatarChangeButton:hover {
  color: #FFFFFF;
  background: #a460bd;
  outline: 4px solid #FFFFFF;

  svg path {
    fill: #FFFFFF;
    stroke: #FFFFFF;
  }
}

.title {
  color: #EEBFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.containerInput {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 10px;
}


.inputName {
  width: 100%;
  padding: 10px 20px;

  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #E7A3FF;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid #E7A3FF;
  border-radius: 7px;
  outline: none;

  @media screen and (max-width: 350px) {
    padding: 10px 10px;
  }

  &::placeholder {
    color: #b62d48;
    font-size: 15px;
    font-weight: 600;

    @media screen and (max-width: 350px) {
      font-size: 14px;
    }
  }

  &:focus {
    background: rgb(228 228 228 / 16.6%);
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 30px;
  }

  @media screen and (max-width: 800px) {
    box-sizing: border-box;
  }
}

.containerLoginButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 25px;
}

.profileContainer {
  padding: 0 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 28px;

  width: 550px;
  height: 160px;

  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  @media screen and (max-width: 800px) {
    width: -webkit-fill-available;
    gap: 30px;
    justify-content: flex-start;
  }

  @media screen and (max-width: 800px) and (min-width: 500px) {
    width: 400px;
    padding: 5px 10px;
  }

  @media screen and (max-width: 500px) {
    padding: 5px 10px;
  }

  @media screen and (max-width: 350px) {
    padding: 0px 10px;
  }
}

.textContainer {
  /* max-width: 362px; */
  min-width: 360px;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;

  @media screen and (max-width: 800px) {
    min-width: initial;
  }
}

.pepe {
  width: 18px;
  height: 19px;
  margin-left: 5px;
  background-image: url("https://cdn.discordapp.com/attachments/561591566045544449/1103745915283574815/removal.ai_tmp-644af2d1406a5.png");
  border-radius: 4px;

  @media screen and (max-width: 350px) {
    width: 18px;
    height: 19px;
    margin-left: 3px;
    border-radius: none;
  }
}

.nickname {
  color: #E7A3FF;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  align-items: center;
  display: flex;
}

.premiumStatus {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;

  @media screen and (max-width: 350px) {
    font-size: 12px;
    white-space: pre;
  }
}

.containerForHomePageValidationErrorIspiredByEVT {
  max-height: 50px;
  max-width: 300px;
  position: relative;
}

.error {
  color: $error-color;
  font-weight: 600;
  font-family: 'Rubik', 'sans';
  line-height: 19px;
  font-size: 14px;

  position: absolute;
  bottom: -21px;
}

.invalidInput {
  border-color: $error-color;

  &:focus {
    border-color: $error-color;
    background: #ff2c5613;

    &::placeholder {
      opacity: 0.4;
    }
  }
}

[disabled] {
  box-shadow: none;
  pointer-events: none;
  opacity: 0.3;
}