* {
   transition: all 0.3s ease;
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}

.header {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.content {
   height: 100%;
   gap: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.gameTitle {
   display: inline-block;
   font-weight: 700;
   font-size: 48px;
   line-height: 57px;
   text-transform: uppercase;
}

.localeButton {
   display: flex;
   height: 45px;
   gap: 5px;
   padding: 13px 22px;
   border-radius: 35px;
   color: #E7A3FF;
   background: rgba(0, 0, 0, 0.2);
   border: 2px solid #E7A3FF;
   box-shadow: 4px 4px 0px #693D79;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   flex-direction: row;
   align-items: center;
}

.localeContent {
   display: inline-block;
   position: absolute;
   right: 0;
}

.localeButton:hover {
   color: #FFFFFF;
   background: rgba(225, 138, 255, 0.35);
   border: 2px solid #FFFFFF;
   box-shadow: 4px 4px 0px #C699D7;

   svg path {
      fill: #FFFFFF;
      stroke: #FFFFFF;
   }
}

.title {
   color: #EEBFFF;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   text-transform: uppercase;
}

.outerInputContainer {
   width: 406px;
   height: 133px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.2);
   border-radius: 20px;
}

.insideInputContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   width: 346px;
   height: 73px;
   padding: 30px;
}

.inputName {
   width: 346px;
   height: 39px;
   box-sizing: border-box;
   flex-direction: row;
   justify-content: center;
   gap: 10px;
   text-align: center;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   color: #E7A3FF;
   background: rgba(0, 0, 0, 0.2);
   border: 2px solid #E7A3FF;
   border-radius: 7px;
   outline: none;
   text-transform: uppercase;
}

.inputName:focus {
   background: rgb(228 228 228 / 16.6%);
   color: #fff;
   border: 2px solid #fff;
}

.buttonContainer {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 0;
   gap: 25px;
}

.loginButton {
   border: 0;
   cursor: pointer;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   gap: 10px;
   padding: 13px 22px;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   text-transform: uppercase;
   color: #E7A3FF;
   background: rgba(0, 0, 0, 0.2);
   border: 2px solid #E7A3FF;
   box-shadow: 4px 4px 0px #693D79;
   border-radius: 34px;
}

.loginButton:hover {
   color: #FFFFFF;
   background: rgba(225, 138, 255, 0.35);
   border: 2px solid #FFFFFF;
   box-shadow: 4px 4px 0px #C699D7;
}

.footer {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 10px;
   padding: 0;

   color: #FFFFFF;
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
}

.link {
   color: #FFFFFF;
   text-decoration: none;
   text-transform: uppercase;
}

.link:hover {
   text-decoration: underline;
}