* {
    transition: all 0.3s ease;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gameTitle {
    display: inline-block;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    text-transform: uppercase;
}

.localeContent {
    display: inline-block;
    position: absolute;
    right: 0;
}

.localeButton {
    display: flex;
    height: 45px;
    gap: 5px;
    padding: 13px 22px;
    border-radius: 35px;
    color: #E7A3FF;
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid #E7A3FF;
    box-shadow: 4px 4px 0px #693D79;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    flex-direction: row;
    align-items: center;
}

.localeButton:hover {
    color: #FFFFFF;
    background: rgba(225, 138, 255, 0.35);
    border: 2px solid #FFFFFF;
    box-shadow: 4px 4px 0px #C699D7;

    svg path {
        fill: #FFFFFF;
        stroke: #FFFFFF;
    }
}

.content {
    height: 100%;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.invitedMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.invitedAvatar {
    width: 57px;
    height: 57px;
    background-image: url("https://cdn.discordapp.com/avatars/302522186504077312/ecf7349fbbc9c600a56c8ca4d7c55128.webp?size=128");
    border: 5px solid #E7A3FF;
    border-radius: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.avatar {
    background-image: url("https://cdn.discordapp.com/attachments/482180995752394752/1076565500219375616/image.png");
    width: 130px;
    height: 130px;
    position: relative;
    background-color: #333;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    border: 5px solid #E7A3FF;
    border-radius: 1000px;
}

.avatarChangeButton {
    display: flex;
    position: absolute;
    width: 35px;
    height: 35px;
    right: 0;
    bottom: 0;
    background: #2F163E;
    border: none;
    outline: 4px solid #E7A3FF;
    border-radius: 1300px;
    align-items: center;
    justify-content: center;
}

.avatarChangeButton:hover {
    color: #FFFFFF;
    background: #a460bd;
    outline: 4px solid #FFFFFF;

    svg path {
        fill: #FFFFFF;
        stroke: #FFFFFF;
    }
}

.title {
    color: #EEBFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

}

.containerInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 10px;
}


.inputName {
    width: 100%;
    padding: 10px 20px;

    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #E7A3FF;
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid #E7A3FF;
    border-radius: 7px;
    outline: none;
}

.inputName:focus {
    background: rgb(228 228 228 / 16.6%);
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 30px;
}

.containerLoginButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 25px;
}

.loginButton {
    border: 0;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 13px 22px;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: #E7A3FF;
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid #E7A3FF;
    box-shadow: 4px 4px 0px #693D79;
    border-radius: 34px;
}

.loginButton:hover {
    color: #FFFFFF;
    background: rgba(225, 138, 255, 0.35);
    border: 2px solid #FFFFFF;
    box-shadow: 4px 4px 0px #C699D7;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;

    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.link {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.link:hover {
    text-decoration: underline;
}