.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;

  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  @media screen and (max-width: 350px) {
    font-size: 12px;
  }
}