.container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 22px;

    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
}

.column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.conteinerDiscription {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    white-space: pre-line;
    color: #E7A3FF;

    @media screen and (max-width: 500px) {
        font-size: 20px;
        line-height: 25px;
    }
}

.columnUser {
    width: 436px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    @media screen and (max-width: 800px) {
        height: auto;
    }
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
}

.podTitle {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: #E7A3FF;
}

.containerForUserContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;

    @media screen and (max-width: 800px) {
        flex-direction: row;
        /* justify-content: space-between; */
        align-items: flex-start;
        padding: 0px;
        gap: 14px;
        isolation: isolate;
    }
}

.userContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 15px;
    gap: 10px;
    width: -webkit-fill-available;

    background: rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 0px #693D79;
    outline: 2px solid #E7A3FF;
    border-radius: 45px 14px 14px 45px;

    @media screen and (max-width: 800px) {
        outline: none;
        border-radius: none;
        box-shadow: none;
        background: none;
        width: auto;
        padding-right: 0px;
    }
}

.userAvatar {
    width: 47px;
    height: 47px;

    outline: 2px solid #E7A3FF;
    border-radius: 38px;
    transform: scale(1.2);
    margin-right: 8px;
}

.userName {
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #E7A3FF;
}

.userVotedPicsContainer {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.userVotedPic {
    img {
        margin: 0px -8px;
        width: 24px;
        height: 24px;
        border-radius: 38px;
    }
}


.authorName {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E7A3FF;
}

.containerPoints {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap;
    color: #E7A3FF;
}

.containerForHorizontal {
    display: flex;
    gap: 15px;
    width: -webkit-fill-available;
    justify-content: center;
}

.boardCards {
    @media screen and (max-width: 800px) {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        overflow-x: auto;
    }
}

.myCardContainer {
    display: flex;
    gap: 10px;
    width: -webkit-fill-available;
    justify-content: center;
}

.myCard {
    overflow: hidden;
    width: 90px;
    height: 135px;

    outline: 3px solid #E7A3FF;
    border-radius: 14px;

    @media screen and (max-width: 800px) {
        width: 80px;
        height: 120px;
    }
}

.myCardContainer:hover {
    .myCard:hover {
        z-index: 121;
        transform: scale(1.2) translateY(-20px) rotate(0deg);
    }
}

.containerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.turnCard {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 140px;
    height: 210px;

    background: linear-gradient(149.85deg, rgba(0, 0, 0, 0.2) 0.05%, rgba(90, 90, 90, 0.2) 100.05%), #694F79;
    outline: 3px solid #FFFFFF;
    border-radius: 14px;

    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.33);

    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);

    animation: transform-animation 0.3s ease-in-out forwards;
    
    @media screen and (max-width: 800px) {
        width: 120px;
        height: 180px;
    }
}

.userTurnCard {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 140px;
    height: 210px;

    background: linear-gradient(149.85deg, rgba(0, 0, 0, 0.2) 0.05%, rgba(90, 90, 90, 0.2) 100.05%), #694F79;
    outline: 3px solid #E7A3FF;
    border-radius: 14px;

    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.33);

    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);

    animation: transform-animation 0.3s ease-in-out forwards;
    
    @media screen and (max-width: 800px) {
        width: 120px;
        height: 180px;
    }
}

.selectedCard {
    outline: 3px solid #48FF50;
}

.yourTurnText {
    padding: 10px;
}

@keyframes transform-animation {
    0% {
        opacity: 0;
        transform: matrix(0.5, 0, 0, 0.5, 0, 0);
    }

    100% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}

.memeImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.timeStep {
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 9px;

    width: 170px;

    border: 3px solid #E7A3FF;
    border-radius: 14px;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
    text-shadow: 0px 2px 0px #9731BC;
    background: linear-gradient(0deg, rgba(63, 38, 89, 0.82), rgba(63, 38, 89, 0.82)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    
    @media screen and (max-width: 800px) {
        display: none;
    }
}

.mobileTimeStep {
    display: none;
    position: absolute;
    top: 75%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    @media screen and (max-width: 800px) {
        display: flex;
    }
}

.stepImg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.25;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.memePoints {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F4E134;
}

.disabled {
    opacity: 0.5;
    filter: grayscale(0.5); 
    cursor: not-allowed;
}

.swiperSlider {
    display: none;
    @media screen and (max-width: 800px) {
        display: flex;
    }
}

div[data-mobile] {
    @media screen and (max-width: 500px) {
        display: none;
    }
}

div[data-mobile-swiper] {
    @media screen and (max-width: 800px) {
        display: none;
    }
}