.container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 60px;
}

.column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
}

.podTitle {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: #E7A3FF;
}

.containerImgAndDiscriptionRulesGameMemetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.aboutImg {
    width: 100%;
    height: 350px;
}

.conteinerDiscription {
    padding: 25px;
    gap: 27px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 14px;

    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #E7A3FF;
}

.containerForUserContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.userContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 15px;
    gap: 10px;
    width: -webkit-fill-available;

    background: rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 0px #693D79;
    outline: 2px solid #E7A3FF;
    border-radius: 45px 14px 14px 45px;
}

.userAvatar {
    width: 47px;
    height: 47px;

    outline: 2px solid #E7A3FF;
    border-radius: 38px;
    transform: scale(1.2);
    margin-right: 8px;
}

.userName {
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #E7A3FF;
}

.containerForCrown {
    display: flex;
    width: auto;
    padding: 0;
    border: none;
    background: none;
}

.containerForUserSvgAction {
    display: flex;
    width: auto;
    border: none;
    background: none;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.containerForUserSvgAction:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px #8c639b);
}

.sizeUserSvg {
    width: 23px;
    height: 23px;
}

.containerForSettingsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: -webkit-fill-available;
    gap: 10px;
}

.settingsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 10px;
    gap: 10px;

    width: -webkit-fill-available;
    height: 39px;

    outline: 2px solid #E7A3FF;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 0px #693D79;
    border-radius: 7px;
}

.infoContainer {
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    align-items: center;
    text-transform: uppercase;

    color: #E7A3FF;
}

.conteinerButtonControlBlat {
    display: flex;
    height: -webkit-fill-available;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.settings,
.invite,
.start {
    border: 0;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 13px 22px;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: #E7A3FF;
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid #E7A3FF;
    box-shadow: 4px 4px 0px #693D79;
    border-radius: 34px;
}

.settings {
    padding: 13px;
}

.invite {
    cursor: pointer;
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E7A3FF;
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid #E7A3FF;
    box-shadow: 4px 4px 0px #693D79;
    border-radius: 34px;
}

.inviteButtonContainer {
    display: flex;
    justify-content: center;
    height: -webkit-fill-available;
    align-items: flex-end;
    width: 100%;
}

.start {
    width: 100%;
    color: #FFA3A3;
    border: 2px solid #FFA3A3;
    box-shadow: 4px 4px 0px #793D3D;
}

.settings:hover,
.invite:hover {
    color: #FFFFFF;
    background: rgba(225, 138, 255, 0.35);
    border: 2px solid #FFFFFF;
    box-shadow: 4px 4px 0px #C699D7;

    path {
        fill: #fff;
        stroke: #fff;
    }
}

.start:hover {
    color: #FFFFFF;
    background: rgba(255, 185, 138, 0.35);
    border: 2px solid #FFFFFF;
    box-shadow: 4px 4px 0px #d7ad99;
}

.waitingText {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    color: #E7A3FF;
    align-items: center;
    padding-bottom: 13px;
}

.buttons {
    display: flex;
    height: -webkit-fill-available;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.waiting {
    display: flex;
    height: -webkit-fill-available;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    gap: 15px;
}

.gameCode {
    cursor: pointer;
    color: #de81ff;

    &:hover {
        font-size: 17.5px;
    }
}