.container {
   display: flex;
   position: absolute;
   right: 0;
   left: 0;
   top: 0;
   bottom: 0;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 10px;
   isolation: isolate;
   background: rgba(41, 20, 45, 0.81);
   backdrop-filter: blur(10px);
   z-index: 1;
}

.column {
   height: 100%; 
   display: flex;
   flex-direction: column;
   gap: 31px;
   justify-content: center;
}

.title {
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 700;
   font-size: 38px;
   line-height: 45px;
   text-transform: uppercase;
}

.subTitle {
   font-weight: 700;
   font-size: 17px;
   line-height: 20px;
   text-transform: uppercase;
   color: #E7A3FF;
}

.buttonContainer {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: -webkit-fill-available;
}

.closeButton {
   cursor: pointer;
   display: flex;
   flex-direction: row;
   align-self: center;
   padding: 13px 22px;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   text-transform: uppercase;
   color: #E7A3FF;
   background: rgba(0, 0, 0, 0.2);
   border: 2px solid #E7A3FF;
   box-shadow: 4px 4px 0px #693D79;
   border-radius: 34px;
}

.settingsContainer {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   min-width: 550px;
   width: 90%;
   gap: 10px;
   width: -webkit-fill-available;
}